.destination {
  padding: 0 154px;
  margin-bottom: 103px;

  &__cards {
    display: flex;
  }

  &__title {
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: bold;
    color: #14183e;
    font-family: "Volkhov", serif;
  }

  &__subtitle {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #5e6282;
  }
}

.destination-card {
  width: 315px;
  height: 476px;
  margin-right: 34px;
  cursor: pointer;
  overflow: hidden;
  background-size: contain;

  border-radius: 24px;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  background-image: url("/assets/rome.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  position: relative;

  &__description {
    background-color: white;
    height: 130px;
    width: 100%;
    padding: 8px 19px;

    justify-content: space-around;
    position: absolute;
    bottom: 0;
  }

  &__wraper {
    margin-top: 8px;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
  }

  &__location {
    font-family: "Poppins", sans-serif;
    color: #5e6282;
  }

  &__price {
    font-family: "Poppins", sans-serif;
    color: #5e6282;
  }

  &__duration {
    font-family: "Poppins", sans-serif;
    color: #5e6282;
  }

  &__navigation {
    display: flex;
  }

  &__nav {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
